@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins;
  }
}

.geoapify-close-button {
  display: none;
}

.geoapify-autocomplete-input {
  width: 100%;
}

.img-control {
  user-select: none;
 -webkit-user-drag: none;
}

.div-control{
      user-select: none;
}

.logout-btn{
  color:white;
}

.logout-btn:hover{
  cursor: pointer;
  color:rgb(230, 244, 255);
}

.profile-name{
  color:white;
}

.profile-name:hover{
  color:white;
}